:root {
  --accent-color: #2196f3;
  --main-text-color: #212121;
  --second-text-color: #757575;
  --footer-color: #2f303a;
  --second-btn-color: #188ce8;
  --background-color: #f5f4fa;
  --white-text: #fff;
  --black-text: #000;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* -------------------------HEADER----------------------- */
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-text-header {
  color: var(--black-text);
}

.header-link {
  color: var(--main-text-color);
}

.header-contact-link {
  color: var(--second-text-color);
}

.current {
  color: var(--accent-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--second-btn-color);
}
/* ----------------------------HERO-------------------------------- */

.hero {
  background-color: var(--footer-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text);
}

.hero-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--white-text);
  border: none;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--second-btn-color);
}
/* ----------------------------BENEFITS----------------------------------- */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.benefits-subtitle {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefits-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

/* -----------------------ABOUT------------------- */

/* -------------------------OUR TEAM---------- */
.team {
  background-color: var(--background-color);
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.team-item {
  background-color: var(--white-text);
  width: 270px;
}

.team-name {
  font-weight: 500;
}
.team-job {
  font-weight: 400;
  color: var(--second-text-color);
}

/* -------------------FOOTER---------------------------------------- */
.footer {
  background-color: var(--footer-color);
}

.logo-text-footer {
  color: var(--white-text);
}
.footer-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--white-text);
}

.footer-contact {
  color: rgba(255, 255, 255, 0.6);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  background-color: var(--background-color);
  color: var(--main-text-color);
  cursor: pointer;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--accent-color);
  color: var(--white-text);
}

.portfolio-item {
  background-color: var(--white-text);
  width: 370px;
}

.exmpl-subtitle {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.exmpl-about {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}
